{% extends "base/layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Actualizar a Nivel 2</h5>
                    <p class="card-text">Conviértete en un usuario con Subscripción A y B.</p>
                    <form action="{% url 'nivel_usuario:actualizar_nivel_2' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Actualizar a Nivel 2</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Actualizar a Nivel 3</h5>
                    <p class="card-text">Conviértete en un administrador con acceso total.</p>
                    <form action="{% url 'nivel_usuario:actualizar_nivel_3' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Actualizar a Nivel 3</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}