nav{
    background-color: transparent;
}

.nav-logo{
    font-size: 1.5em;
}

.logo-empresa-footer{
    font-size: 1.3em;
}

.nav-link{
    font-size: 1.1em;
    margin: 0 5px;
}

textarea{
    resize: none;
}

a{
    text-decoration: none !important;
}

footer div > p{
    display: flex;
    justify-content: center;
}

.card-body-3-productos-home{
    text-align: center;
}

.card-body-3-productos-home h4{
    padding-bottom: 5px;
}

.card-img-3-producto-home{
    overflow: hidden;
}

.card-img-3-producto-home img {
    height: 280px;
    min-width: 280px;
}

.card-img-producto-home{
    overflow: hidden;
}

.card-img-producto-home img{
    height: 200px;
    min-width: 200px;
}

.card-body-productos-home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.busqueda-content__titulo h2{
    font-size: 3em;
}

.detalle-producto-content__text h1{
    font-size: 3em;
}

.detalle-producto-content__text h2{
    font-size: 1.5em;
    font-weight: 400;
}

.title-form-register{
    font-size: 2.8em;
}

/* Cards*/

.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform:perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/* Fin Cards */

/*Botón Logout*/
.btnlgo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .btnlgo:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .btnlgo:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .btnlgo:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .btnlgo:active {
    transform: translate(2px ,2px);
  }

    /* Fin Botón Logout */

/* Botón Login */
.btnlgi {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #49b8ad;
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .btnlgi:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .btnlgi:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .btnlgi:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .btnlgi:active {
    transform: translate(2px ,2px);
  }

    /* Fin Botón Login */

/* Botón Register */

.btnreg {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color:silver;
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .btnreg:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .btnreg:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .btnreg:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .btnreg:active {
    transform: translate(2px ,2px);
  }

/* Card Instrucciones*/
.myCardContainer {
  flex-wrap: wrap;
  justify-content: space-between; /* Ajusta esto según tus preferencias */
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 tarjetas por fila */
  gap: 20px; /* Espacio entre las tarjetas */
}

.myCard {
  height: 254px;
  perspective: 1000px;
  margin: 10px; /* Añade un margen entre las tarjetas para el espaciado */
  width: 100%; /* Asegúrate de que cada tarjeta ocupe el 100% del espacio disponible */
  font-size: 14px; /* Ajusta el tamaño de fuente según tus necesidades */
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: transform 0.8s;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.frontSide, .backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.frontSide, .frontSide::before {
  background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
}

.backSide, .backSide::before {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  transform: rotateY(180deg);
}

.frontSide::before, .backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
      opacity: 0.3;
  }
  80% {
      opacity: 1;
  }
  100% {
      opacity: 0.3;
  }
}


/* Fin Card Instrucciones */

