{% extends "base/layout.html" %}

{% block content %}

<body>
    <div>
        <h1>Publicaciones</h1>
        <ul>
            {% for publicacion in publicaciones %}
                <li>
                    <h2>{{ publicacion.titulo }}</h2>
                    <p>{{ publicacion.contenido }}</p>
                    
                    
                    <img src="{{ publicacion.imagen.url }}" alt="{{ publicacion.titulo }}">
                    

                    <p>Autor: {{ publicacion.autor }}</p>
                    <p>Fecha de Publicación: {{ publicacion.fecha_publicacion }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>

{% endblock %}